extends layout

block content
  header.bg-light.white.center
    div.clearfix
      h1.caps Embeddable Chat
      h3 Connect your users &mdash; with you and with each other &mdash; with a simple &lt;script&gt; tag
    div.clearfix
      button.button.white.pill Enter your email to give it a spin
      p.mt2.mb0.h5 (Entering your email adds you to our mailing list. Don't worry, we won't share your email with anyone.)
      div.center
        form#email-signup(role='form')
          input#mce-EMAIL.field-light.mt2.mb0(type='email', placeholder='Email address', name='EMAIL')
          button.button.primary.mt2.ml1.white.bold.py0(type='submit') Submit
    div.py4

  div.container.center
    div#chat.clearfix
      img.static-chat(src='/images/screenshot.png', width=800)

      div.feature.sm-col.sm-col-4
        h2.center Single dashboard
        p.center Set up and manage everything from a single dashboard with no hassles.
      div.feature.sm-col.sm-col-4
        h2.center Bring your own users
        p.center Landline is unopinionated about user structure &mdash; it just needs names and faces.
      div.feature.sm-col.sm-col-4
        h2.center Embed anywhere
        p.center Landline's highly flexible embeddable chat lets you drive. Customize, collaborate, and have fun.
    
    hr.mb4
    div.container.center
      h2 
        a(href="/signup", style="color: black;") Get started 
        | with Landline &mdash; plans are free while we're in alpha.
      a.button(href='/signup') Sign up now &mdash; your first month is free
