extends layout

block content

  header.site-header.center
    div.clearfix
      h1.site-title Embeddable Chat
      h3 Connect your users &mdash; with you and with each other &dash; with a simple &lt;script&gt; tag
      a.button Try it right away!

  div.container.center
    div.clearfix

      iframe.live-chat(src='/chat', width=800, height=400)

      div.feature.sm-col.sm-col-4
        h2.center Single dashboard
        p.center Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac.
      div.feature.sm-col.sm-col-4
        h2.center Uptime & support
        p.center Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac.
      div.feature.sm-col.sm-col-4
        h2.center Sync across devices
        p.center Curabitur blandit tempus porttitor. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Morbi leo risus, porta ac consectetur ac.
    div.call-to-action.center
      h2 Get started with Landline &mdash; plans start at $5 month for 100 users.
      a.button Sign up now &mdash; your first month is free

