doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/basscss.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#site-wrapper

      nav.site-nav.clearfix
        div.container
          div.sm-col
            a(href="/") Landline
          div.sm-col-right
            if token
              a.p2.white(href="/logout") Log out
            if !token
              a.p2.white(href="/login") Log in
              a.p2.white(href="/signup") Sign up
      block content

      footer.site-footer
        div.clearfix
          div.container
            div.social-nav.sm-col
              h3.footer-title Follow Landline
              ul.list-reset.clearfix
                li
                  a(href="https://twitter.com/landlineio") Twitter
                li
                  a(href="https://facebook.com/landline.io") Facebook
            div.help-nav.sm-col-right
              ul.list-reset.clearfix
                li
                  a(href="/") Need help?
                li
                  a(href="/") Privacy
                li
                  a(href="/") Terms
      div.copyrights.clearfix
        div.px4
          a Shipped in 7 days on Assembly
          span.right &copy; 2015 Landline
    script(src='/zepto.min.js')
    script(src='/javascripts/app.js')
