doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="/basscss.min.css")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/style.css")
  body.bg-dark
    nav.clearfix.bg-light.white.sm-show
      div.container
        //- if messages.error
        //-   .alert.alert-danger
        //-     div= messages.error
        //- if messages.info
        //-   .alert.alert-info
        //-     div= messages.info
        //- if messages.success
        //-   .alert.alert-success
        //-   div= messages.success
        div.sm-col
          a(href="/")
            img.p2(src="/images/icon.png", style="max-height: 40px;")
        div.sm-col
          a.block.mt2.bold(href="/") Landline
          small.block Chat freely.
          
        div.sm-col-right
          a.px2.mt2.button(href="http://docs.landline.io") Documentation
          if team
            a.px2.mt2.button(href="/settings") Settings
            a.px2.mt2.button(href="/logout") Log out
          else
            a.px2.mt2.button(href="/login") Log in
            a.px2.mt2.button(href="/signup") Sign up
    nav.clearfix.bg-light.white.sm-hide
      div.container.mt1
          a(href="/")
            img.ml2.mr1.inline-block(src="/images/icon.png", style="max-height: 40px;")
            span Landline
        div.mb2
          a.px2.mt2.button(href="http://docs.landline.io") Documentation
          if team
            a.px2.mt2.button(href="/logout") Log out
          else
            a.px2.mt2.button(href="/login") Log in
            a.px2.mt2.button(href="/signup") Sign up
    
    .bg-white
      block content

    footer.bg-light.white
      div.clearfix.px2
        div.container
          div.sm-col.mb2
            h3.mt2.footer-title Follow Landline
            a.mr2(href="https://twitter.com/landlineio") Twitter
            a(href="https://facebook.com/landline.io") Facebook
          div.sm-col-right
            div.mt2
              p Landline is in alpha. 
              p You can try it out above or sign up to be part of the beta.
      div.clearfix.bg-dark.px2
        div.container.py1.clearfix
          span Built with 
            span.fa.fa-heart &nbsp;
            | on 
            a(href="https://assembly.com", style="color: white;") Assembly
          span.right.sm-show &copy; 2015 Landline
          span.right.sm-show.mr2 Emoji provided free by 
            a(href="http://emojione.com", style="color: white;") Emoji One
          div.sm-hide &copy; 2015 Landline
          div.sm-hide Emoji provided free by 
            a(href="http://emojione.com", style="color: white;") Emoji One
    script(src="https://code.jquery.com/jquery-2.1.3.min.js")
    script(src="/javascripts/app.js")
    script.
      asml('create', '15b8327f61dc7f484f2217264e27575a83b80122');
      asml('track', '#{team && team.email}');
