doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/basscss.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div#site-wrapper

      nav.site-nav.clearfix
        div.container
          div.sm-col
            a(href="/") Landline
          div.sm-col-right
            if currentUser
              a(href="/logout") Logout
            if !currentUser
              a(href="/login") Sign in

      block content

      footer.site-footer
        div.clearfix
          div.container
            div.sm-col
              h3 Follow Landline
              ul.list-reset
                li
                  a(href="https://twitter.com/landlineio") Twitter
                li
                  a(href="https://facebook.com/landline.io") Facebook
            div.sm-col-right
              ul.list-reset
                li
                  a(href="/") Need help?
                li
                  a(href="/") Privacy
                li
                  a(href="/") Terms
      div.copyrights.clearfix
        div.container
          a Shipped in 7 days on Assembly
          span.right &copy; 2015 Landline
