extends layout

block content
  div.container
    div.center.p4
      if error
        div.bold.center.p2.mb2.white.bg-red.rounded
          span=error
      form.clearfix(action='/login', method='POST')
        label.left Team name
        input.block.field-light.full-width(type='text', placeholder="Team name", name='name')
        label.left Password
        input.block.field-light.full-width(type='password', placeholder='Password', name='password')
        button.button.primary.left(type='submit') Submit
        button.button-transparent.left(type='button', onclick='location.href="/forgot"') Forgot Password?