extends layout

block content
  div.container
    div.center.p4
      if error
        div.bold.center.p2.mb2.white.bg-red.rounded
          span=error
      form(action='/login', method='POST')
        label.left Email
        input.block.field-light.full-width(type='email', placeholder="Email address", name='email')
        label.left Password
        input.block.field-light.full-width(type='password', placeholder='Password', name='password')
        button.button.button-blue.left(type='submit') Submit
