extends layout

block content
  div.container
    div.center.p4
      if error
        div.bold.center.p2.mb2.white.bg-red.rounded
          span=error
       form.clearfix(action='/forgot', method='POST')
          label.left(for='password') New Password
          input.block.field-light.full-width(type='password', name='password', value='', placeholder='New password', autofocus=true)
          label.left(for='confirm') Confirm Password
          input.block.field-light.full-width(type='password', name='confirm', value='', placeholder='Confirm password')
          button.button.primary.left(type='submit') Update Password