extends layout

block content
  div.container
    div.center.p4
      if error
        div.bold.center.p2.mb2.white.bg-red.rounded
          span=error
      form.clearfix(action='/signup', method='POST')
        label.left Email
        input.block.field-light.full-width(type='email', placeholder="Email address", name='email')
        label.left Password
        input.block.field-light.full-width(type='password', placeholder='Password', name='password')
        label.left Single Sign-on URL
        input.block.field-light.full-width(type='text', placeholder='Single sign-on URL', name='url')
        label.left Team name
        input.block.field-light.full-width(type='text', placeholder='Team name', name='name')
        label.left Webhook URL &mdash; Landline will send incoming messages to this endpoint (optional)
        input.block.field-light.full-width(type='text', placeholder='Webhook URL', name='webhook_url')
        button.button.primary.left(type='submit') Submit
