html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  background-color: #FFF; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 400; }

a {
  color: #FFF; }
  a:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: .6; }
  a:focus {
    outline: none; }

p {
  font-size: 14px; }

.button {
  padding: .8em 2em;
  font-weight: 500;
  text-shadow: none;
  letter-spacing: .03em;
  background-color: #ED1967;
  border-radius: 10em;
  box-shadow: 0 1px 0 #9E1F60; }
  .button:hover {
    opacity: 1; }

.site-nav {
  padding: 40px;
  background-color: #477288; }
  .site-nav a {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .06em; }

.site-header {
  padding: 60px 40px 200px;
  color: #FFF;
  text-shadow: 0 1px 0 #345262;
  background-color: #477288;
  box-shadow: inset 0 -1px 0 #345262; }

.site-title {
  font-weight: 500;
  text-transform: uppercase; }

.live-chat {
  margin: -120px 0 10px;
  z-index: 100;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3); }

.feature {
  padding: 40px;
  color: #477288; }

.site-footer {
  padding: 40px 40px 20px;
  background-color: #477288;
  box-shadow: inset 0 1px 0 #345262; }
  .site-footer li {
    float: left;
    margin-right: 15px; }
    .site-footer li:last-child {
      margin-right: 0; }

.copyrights {
  padding: 10px 0;
  color: #FFF;
  font-size: 13px;
  font-weight: 500px;
  background-color: #345262; }

