html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 300; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Nunito', sans-serif;
  font-weight: 400; }

.bg-darker {
  background-color: #0C3A45; }

.bg-lighter {
  background-color: #F3F5F7; }

.bg-light {
  background-color: #B4C4CF; }

.button {
  font-weight: 500; }

.button-round {
  border-radius: 4rem; }

.lighter {
  color: #F3F5F7; }

.light {
  color: #B4C4CF; }

#page-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0; }

#page-wrapper {
  min-height: 100%;
  position: relative; }
