@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
@import 'variables';

// Base Styles
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #FFF;
}

// Typography
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  font-family: 'Nunito', sans-serif;
  font-weight: 700;
}

a {
  color: #FFF;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    opacity: .6;
  }
  &:focus {
    outline: none;
  }
}

.container a {
  color: #345262;
}

.button-transparent {
  position: relative;
  z-index: 2;
  color: inherit;
  background-color: transparent;
  border-radius: 0;
  border: 1px solid transparent;
  -webkit-transition-duration: .1s;
  transition-duration: .1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}

p {
  font-size: 14px;
}

.bg-dark {
  background-color: $bg-dark;
}

.bg-light {
  background-color: $bg-light;
}

.bg-red {
  background-color: $bg-primary;
}

.button {
  border-radius: 4px;
}

.caps {
  letter-spacing: 0.1rem;
}

// Live Chat
.live-chat {
  margin: -120px 0 10px;
  z-index: 100;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0,0,0,.3);
}

.pill {
  padding: 1em 1.5em .8em;
  font-weight: 500;
  text-shadow: none;
  letter-spacing: .03em;
  background-color: $primary-color-light;
  border-radius: 10em;
  box-shadow: 0 1px 0 $primary-color-light;
  &:hover {
    opacity: 1;
    background-color: darken($primary-color-light, 6%);
    box-shadow: none;
  }
}

.primary {
  background-color: $bg-primary;
  color: white;
}

.static-chat {
  margin: -120px 0 0 0;
  z-index: 100;
  border: none;
}
